/* css colors variables */
:root{
    --corFundo:white;
    --corTexto:black;
}

/* configs padraozin */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--corFundo); /* vamos mudar essas cores */
    color: var(--corTexto); /* vamos mudar essas cores */
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sunIcon{
    font-size: 6rem;
    cursor: pointer;
}

.title{
    font-size: 2rem;
}

.text{
    font-size: 1.2em;
    text-align: justify;
}


/* seletor para modificar a cor das variables */
.darkMode{
    --corFundo:black;
    --corTexto:white;
}