/* body */
body{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}


/* Div pai de todas */
.porraToda{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


/* div contendo cada box image */
div.images{
    width: 736px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


/* cada box image - image + button */
.image_container{
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* cada image */
img{
    padding-bottom: 7px;
}


/* button */
.button{
    width: 70px;
    height: 40px;
}



/***** div com as informacoes do pokemon escolhido *****/
div.informacoesDoPokemon{
    margin-top: 35px;
    border: 2px solid black;
    position: relative;
    right: 137px;
    width: 353px;
    display: none;
    
}